<div class="section-panel">

    <div class="section">

        {% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}
        <div class="section-left fl">
            <h2>{{ section.getNumberEnglish }}</h2>
            {{ section.getTitleEnglish }}
        </div>
        {% else %}
        <div class="section-left fl">
            <h2>{{ section.getNumber }}</h2>
            {{ section.getTitle }}
        </div>
        {% endif %}

        <div class="section-right fr ar">
            <h2>{{ section.getNumberArabic }}</h2>
            {{ section.getTitleArabic }}
        </div>

        <div class="clr"></div>

    </div>

    {% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}
        {% if section.getPreface|length > 1 %}
        <div class="section-translation bn">
            <p>{{ section.getPreface }}</p>
        </div>
        {% endif %}
    {% else %}
        {% if section.getPrefaceEnglish|length > 1 %}
        <div class="section-translation">
            <p>{{ section.getPrefaceEnglish }}</p>
        </div>
        {% endif %}
    {% endif %}

</div>
