<div class="translation-panel">

    <div class="section">

        <div class="section-left fl">
            <h2>{{ section.getNumberEnglish }}</h2>
            {{ section.getTitleEnglish }}
        </div>

        <div class="section-right fr ar">
            <h2>{{ section.getNumberArabic }}</h2>
            {{ section.getTitleArabic }}
        </div>

        <div class="clr"></div>

    </div>

    <div class="section-translation bn">
        <p>{{ section.getPreface }}</p>
        <p>{{ section.getPrefaceEnglish }}</p>
    </div>

</div>
