<div class="col-md-3 test">
    <div class="side-header" style="background-color: #fff;height: 59px;padding: 0px 0px;">
        <div class="select-area pull-left">All books</div>
        <div class="select-box2 pull-right">
            <select name="category" id="category" class="book-category2">
                {% for book in books %}
                <option value="{{ book.slug }}">{{ book.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="col-md-3 fl test2">
    <ul class=tabs>

        <li>
            <input type=radio name=tabs id=tab2 checked>
            <label for=tab1>Hadis Books</label>
            <div id=tab-content2 class=tab-content>
                <div style="width: auto;height: 200px;">
                    <div class="goto">
                        <h3>নির্দিষ্ট হাদিসে যান</h3>
                        <select class="selectpicker" data-size="7">
                            {% for book in books %}
                                <option value="{{ book.slug }}">{{ book.title }}</option>
                            {% endfor %}
                        </select>

                        <div class="hadith_go">
                            <input name="goto_hadith" type="tel" class="text-search" maxlength="4" placeholder="Hadith no.">
                        </div>
                        <input name="" type="submit" class="button" value="Go">
                    </div>
                </div>
            </div><!--tab 1 end-->
        </li>

        <li>
            <input type=radio name=tabs id=tab1 checked>
            <label for=tab2>Go to a Hadith</label>
            <div id=tab-content1 class=tab-content>

                <div id="ps-box">
                    <div class='content'>
                        <div class="book-lists">
                            <div class="list-group">
                                {% for book in books %}
                                    {% set selected = (active == book.slug) ? 'active' : '' %}
                                    <a href="{{ url('book-details', {'slug' : book.slug}) }}" class="list-group-item {{ selected }}">{{ book.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>