<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <title>{% block title %}iHadis{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="iHadis Platform" name="description" />
    <meta content="iHadis Team" name="author" />
    <meta name="MobileOptimized" content="320">

    {% block stylesheets %}

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% stylesheets filter='cssrewrite'
        "assets/plugins/font-awesome/css/font-awesome.min.css"
        "assets/plugins/bootstrap/css/bootstrap.min.css"
        "assets/plugins/uniform/css/uniform.default.css"
        "assets/plugins/gritter/css/jquery.gritter.css"
        "assets/css/style-metronic.css"
        "assets/css/style.css"
        "assets/css/style-responsive.css"
        "assets/css/plugins.css"
        "assets/css/themes/default.css"
        "assets/css/custom.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!-- END GLOBAL MANDATORY STYLES -->

    {% endblock stylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body class="{{ bodyClass|default('page-full-width') }}">

    {% block topNavigation %}
        {{ include(':partials:header.html.twig', {'parameter': ''}) }}
    {% endblock %}

    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">

        {% block container %}
        {% endblock %}

    </div>
    <!-- END CONTAINER -->

    {% block footer %}
        <!-- BEGIN FOOTER -->
        <div class="footer" style="clear: both">

            <div class="footer-inner">
                2013 &copy; iHadis Team.
            </div>

        </div>
        <!-- END FOOTER -->
    {% endblock %}

    {% block javascripts %}

        <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.min.js"></script>
        <script src="/assets/plugins/excanvas.min.js"></script>
        <![endif]-->

        <!-- BEGIN GLOBAL JS -->
        {% javascripts
        "assets/plugins/jquery-1.10.2.min.js"
        "assets/plugins/jquery-migrate-1.2.1.min.js"
        'assets/plugins/jquery-migrate-1.2.1.min.js'
        "assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        "assets/plugins/bootstrap/js/bootstrap.min.js"
        "assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        "assets/plugins/jquery.blockui.min.js"
        "assets/plugins/jquery.cookie.min.js"
        "assets/plugins/uniform/jquery.uniform.min.js"
        "assets/plugins/gritter/js/jquery.gritter.js"
        "assets/plugins/bootbox/bootbox.min.js"
        'assets/scripts/app.js'
        'assets/scripts/custom.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- END GLOBAL JS -->

    {% endblock javascripts %}

    <script type="text/javascript">

        $(document).ready(function(){

            {% block documentReady %}
                App.init();
                IHadis.init();
            {% endblock documentReady %}

        });

    </script>

</body>

</html>