{% form_theme form '::partials/form.elements.html.twig' %}

{% block container %}

<div class="portlet box blue">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i> Hadith #1
        </div>
        <div class="tools">
            <a href="#" class="collapse"></a>
            <a href="#" class="remove"></a>
        </div>
    </div>

    <div class="portlet-body form">

        <form method="post" action="{{ path('ihadis_hadith_add', {'section': hadith.section.id}) }}">

            <div class="form-actions form-inline" style="border: none; margin: 0">

                <div class="row">
                    <div class="col-md-3">{{ form_row(form.numberPrimary) }}</div>
                    <div class="col-md-3">{{ form_row(form.numberSecondary) }}</div>
                    <div class="col-md-2">{{ form_row(form.validity) }}</div>
                    <div class="col-md-2">{{ form_row(form.scholarReviewed) }}</div>
                    <div class="col-md-2">{{ form_row(form.crossChecked) }}</div>
                </div>

            </div>

            <div class="form-body">

                <div class="row">

                    <div class="col-md-4">

                        <div style="font-weight: bold; font-size: 14px; margin-bottom: 10px;">Arabic</div>


                            {{ form_row(form.narratorArabic) }}
                            {{ form_row(form.bodyArabic) }}

                        <div class="show-hide">
                            <a href="#show">Show/Hide Reference</a>
                            {{ form_row(form.referenceArabic) }}
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div style="font-weight: bold; font-size: 14px; margin-bottom: 10px;">English</div>

                        {{ form_row(form.narratorEnglish) }}
                        {{ form_row(form.bodyEnglish) }}

                        <div class="show-hide">
                            <a href="#show">Show/Hide Reference</a>
                            {{ form_row(form.referenceEnglish) }}
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div style="font-weight: bold; font-size: 14px; margin-bottom: 10px;">Bangla</div>


                        {{ form_row(form.narrator) }}
                        {{ form_row(form.body) }}

                        <div class="show-hide">
                            <a href="#show">Show/Hide Reference</a>
                            {{ form_row(form.reference) }}
                            {{ form_row(form.note) }}
                            {{ form_row(form.explanation) }}
                        </div>

                    </div>

                </div>

            </div>

            {{ form_rest(form) }}

        </form>

    </div>

</div>

{% endblock %}
