{% extends 'full_width.html.twig' %}
{% import '@IhadisCore/macros.html.twig' as buttons %}
{% form_theme form '::partials/form.elements.html.twig' %}

{% block title %}Add Hadith{% endblock %}

{% block breadcrumb %}

    <ul class="breadcrumb">

        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
        </li>

        <li><a href="#">{{ hadith.book.title }}</a></li>
        <li><a href="{{ path('ihadis_chapter_list', {'book': hadith.book.id}) }}">{{ hadith.chapter.title }}</a></li>
        <li><a href="{{ path('ihadis_section_list', {'chapter': hadith.chapter.id}) }}">{{ hadith.section.title|truncate(50) }}</a></li>
        <li><a href="{{ path('ihadis_hadith_list', {'section': hadith.section.id}) }}">Hadiths</a></li>

    </ul>

{% endblock %}

{% block body %}

    <style type="text/css">.show-hide .form-group { display: none; }</style>

    <div id="hadith-form-container"></div>
    <a name="#added"></a>

    <div id="hadith-form-actions">

        <div class="btn-group">

            <a id="add-more-hadith" href="#added" class="btn red">
                <i class="fa fa-plus"></i>
            </a>

        </div>

        <div class="form-actions right">
            <a id="cancel-btn" href="{{ path('ihadis_hadith_list', {'section': hadith.section.id}) }}" class="btn default">Cancel</a>
            <a id="save-btn" class="btn green">Save All</a>
        </div>

    </div>

    <div class="hadith-form" style="display: none;">{{ render(path('ihadis_hadith_add_form', {'section': hadith.section.id})) }}</div>

    <!-- New validity Modal -->
    <div class="modal fade" id="new-validity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add new Validity</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller("IhadisCoreBundle:Validity:create")) }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block documentReady %}

    {{ parent() }}

    IHadis.addMoreHadtih();

{% endblock %}