{% extends 'full_width.html.twig' %}
{% import '@IhadisCore/macros.html.twig' as buttons %}
{% form_theme form '::partials/form.elements.html.twig' %}

{% block title %}Update Hadith{% endblock %}

{% block breadcrumb %}

    <ul class="breadcrumb">

        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
        </li>

        <li><a href="#">{{ hadith.book.title }}</a></li>
        <li><a href="{{ path('ihadis_chapter_list', {'book': hadith.book.id}) }}">{{ hadith.chapter.title }}</a></li>
        <li><a href="{{ path('ihadis_section_list', {'chapter': hadith.chapter.id}) }}">{{ hadith.section.title|truncate(50) }}</a></li>
        <li><a href="{{ path('ihadis_hadith_list', {'section': hadith.section.id}) }}">Hadiths</a></li>

    </ul>

{% endblock %}

{% block body %}

    <div class="form">

        {{ form_start(form, {'method': 'PUT', 'attr': {'id': hadith.id, 'section': hadith.section.id }}) }}

            <div class="form-actions form-inline" style="border: none; margin: 0">

                <div class="row">
                    <div class="col-md-3">{{ form_row(form.numberPrimary) }}</div>
                    <div class="col-md-3">{{ form_row(form.numberSecondary) }}</div>
                    <div class="col-md-2">{{ form_row(form.validity) }}</div>
                    <div class="col-md-2">{{ form_row(form.scholarReviewed) }}</div>
                    <div class="col-md-2">{{ form_row(form.crossChecked) }}</div>
                </div>

            </div>

            <div class="form-body">

                <div class="row">

                    <div class="col-md-4">
                        {{ form_row(form.book) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(form.chapter) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_row(form.section) }}
                    </div>

                    <div>&nbsp;</div>

                    <div class="col-md-4">

                        <div style="font-weight: bold; font-size: 14px; margin: 10px 0;">Arabic</div>

                        {{ form_row(form.numberSecondary) }}
                        {{ form_row(form.narratorArabic) }}
                        {{ form_row(form.bodyArabic) }}
                        {{ form_row(form.referenceArabic) }}

                    </div>

                    <div class="col-md-4">

                        <div style="font-weight: bold; font-size: 14px; margin: 10px 0;">English</div>

                        {{ form_row(form.narratorEnglish) }}
                        {{ form_row(form.bodyEnglish) }}
                        {{ form_row(form.referenceEnglish) }}

                    </div>

                    <div class="col-md-4">

                        <div style="font-weight: bold; font-size: 14px; margin-bottom: 10px;">Bangla</div>

                        {{ form_row(form.numberPrimary) }}
                        {{ form_row(form.narrator) }}
                        {{ form_row(form.body) }}
                        {{ form_row(form.reference) }}
                        {{ form_row(form.note) }}
                        {{ form_row(form.explanation) }}

                    </div>
                </div>

                <div class="row">
                    {{ form_row(form.tags, {'value' : hadith.tags|join(', ')}) }}
                </div>

            </div>

            <div class="form-actions form-inline nobg" style="border: none; margin: 0">

                <div class="pull-right">
                    {{ buttons.action() }}
                </div>


            </div>

            {{ form_rest(form) }}

        </form>

    </div>

{% endblock %}