{% extends 'ui2/layout.html.twig' %}

{% block content %}
<div class="content book_page">

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="chapter_name_big margin0">
                    <div class="chapter">
                        <img alt="" src="{{ asset('ui2/img/masjid.png') }}" class="pull-left">
                        <h2>{{ book.title }}</h2>
                        <img alt="" src="{{ asset('ui2/img/masjid.png') }}" class="pull-right">
                    </div>
                    <div class="chapter_text" >
                        <p>সংকলকঃ {{ book.collector }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="collection_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="boxed margin0">

                        <h4>{{ book.title }} সম্পর্কে তথ্য</h4>

                        <div class="padded-20">
                            <p class="book_info">{{ book.description }}</p>
                        </div><!--End of collection_links-->
                    </div><!--End of Collection-->
                </div><!--End of md6-->


            </div>
        </div>
    </div>


    {% if book.links is not empty %}
    <div class="collection_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="boxed">
                        <h4 onclick="$('#downloads').slideToggle()" class="clickable">
                            <img alt="" src="{{ asset('ui2/img/pdf2.png') }}" />
                            PDF ডাউনলোড
                        </h4>

                        <div class="padded-20" id="downloads" style="display: none">

                            <table class="table table-hover">

                                <tbody>
                                    {% for link in book.links|split("\n") %}
                                    <tr>
                                        {% set linkParts = link|split('|') %}
                                        <th width="20%">{{ linkParts[0] }}</th>
                                        <td>
                                            <a href="{{ linkParts[1]|trim }}" target="_blank">
                                                <img alt="Download" src="{{ asset('ui2/img/download.png') }}" align="left" height="20" /> &nbsp;
                                                {{ linkParts[1]|length > 40 ? linkParts[1][:40] ~ '...' : linkParts[1] }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div><!--End of collection_links-->


                    </div><!--End of Collection-->
                </div><!--End of col-md-12-->
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">

        <div class="row">

            <div class="col-md-12 ddc">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chapters</h3>
                        <div class="pull-right">
							<span data-container="body" title="" id="filter-toggle" data-toggle="tooltip" class="clickable filter" data-original-title="Search in Chpaters">
								<i class="glyphicon glyphicon-search"></i>
							</span>
                        </div>
                    </div>
                    <div class="panel-body" style="display: none;">
                        <input type="text" placeholder="অধ্যায় খুঁজুন" data-filters="#chapter-list" data-action="filter" id="chapter-list-filter" class="form-control form">
                    </div>
                    <table id="chapter-list" class="table table-hover table-bordered">
                        <thead style="border-bottom: 1px solid #ddd">
                            <tr>
                                <th>#</th>
                                <th style="width:60%">অধ্যায়ের নাম</th>
                                <th class="text-center">হাদিস নাম্বার</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for chapter in chapters %}
                            <tr>
                                <td>{{ chapter.number }}</td>
                                <td><a href="{{ url('chapter', {'slug': book.slug, 'chapter': chapter.id}) }}">{{ chapter.title }}</a></td>
                                <td class="text-center">{{ chapter.range|to_bn_num }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock content %}