{% extends 'ui2/layout.html.twig' %}
{% block content %}
<div class="content">

<div class="container">
    <div class="row">


        <div class="col-md-9 col-sm-7 col-xs-12">
            <div class="slider">
                {{ render(controller("IhadisWebBundle:Public:randomHadis")) }}
            </div>
        </div>


        <div class="col-md-3 col-sm-5 col-xs-12">
            <div class="goto">
                <h3>নির্দিষ্ট হাদিসে যান</h3>

                <img src="{{ asset('ui2/img/list-1') }}'.png" alt="">
                <select class="hadis-name">
                    <option value="volvo">সহিহ বুখারী</option>
                    <option value="saab">সুনানে আবু দাউদ শরীফ</option>
                    <option value="opel">আত-তিরমিযি</option>
                    <option value="audi">জাল জয়িফ হাদিস সিরিজ</option>
                    <option value="volvo">মিশকাত আল মাসাবিহ</option>
                    <option value="saab">সুনানে আবু দাউদ শরীফ</option>
                    <option value="opel">আত-তিরমিযি</option>
                    <option value="audi">জাল জয়িফ হাদিস সিরিজ</option>
                </select>

                <div class="hadith_go">
                    <img src="{{ asset('ui2/img/list-2') }}.png" alt="">
                    <input name="goto_hadith" type="text" class="text-search" placeholder="Hadith no." onkeypress='return event.charCode >= 48 && event.charCode <= 57'>

                </div>
                <input name="" type="submit" class="button" value="Go">
            </div>
        </div>


    </div>
    <!--row end-->
</div>
<!--Container End-->


<div class="books">
<div class="container">

<div class="row" id="booklist">

    {% for book in booklist %}
    <div class="col-md-4 col">
        <div class="book">
            <div class="book_img img1 pull-left"></div>
            <div class="book_con pull-left">
                <h3><a href="{{ url('book', {'slug': book.slug}) }}">{{ book.title }}</a></h3>

                <div class="author"><span>{{ book.collector }}</span></div>
                <div class="number"><span>হাদিস সংখ্য {{ book.numberOfHadis|to_bn_num }}</span></div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<!-- bookslist row end-->



</div>
</div>


</div>
<!--Content End-->

<!--**********************************-->


<div class="bar_area">
    <div class="row">
        <div class="col-md-12">
            <div class="bar">
                <h1><img src="{{ asset('ui2/img/open_book.png') }}" alt=""> বিষয়ভিত্তিক হাদিস সংগ্রহ </h1>
            </div>
        </div>
    </div>
</div>


<!--**********************************-->


<div class="collection_area">
    <div class="container">
        <div class="row">


            <div class="col-md-4">
                <div class="collection">

                    <div class="img"><img class="coll1 pull-left" src="{{ asset('ui2/img/coll.png') }}" alt=""><h4>পবিত্রতা বিষয়ক
                            হাদিস</h4><img class="coll2 pull-right" src="{{ asset('ui2/img/icon1.png') }}" alt=""></div>

                    <div class="collection_links">
                        <ul>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ওযুর নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">গোসলের নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">হাত ধোয়ার হাদিস</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">নাপাকীর বিভিন্ন প্রকার</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ফরয গোসলের নিয়ম</a></li>

                        </ul>
                    </div>
                    <!--End of collection_links-->
                </div>
                <!--End of Collection-->
            </div>
            <!--End of md6-->


            <div class="col-md-4">
                <div class="collection">

                    <div class="img"><img class="coll1 pull-left" src="{{ asset('ui2/img/coll.png') }}" alt=""><h4>পবিত্রতা বিষয়ক
                            হাদিস</h4><img class="coll2 pull-right" src="{{ asset('ui2/img/icon1.png') }}" alt=""></div>

                    <div class="collection_links">
                        <ul>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ওযুর নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">গোসলের নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">হাত ধোয়ার হাদিস</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">নাপাকীর বিভিন্ন প্রকার</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ফরয গোসলের নিয়ম</a></li>

                        </ul>
                    </div>
                    <!--End of collection_links-->
                </div>
                <!--End of Collection-->
            </div>
            <!--End of md6-->


            <div class="col-md-4">
                <div class="collection">

                    <div class="img"><img class="coll1 pull-left" src="{{ asset('ui2/img/coll.png') }}" alt=""><h4>পবিত্রতা বিষয়ক
                            হাদিস</h4><img class="coll2 pull-right" src="{{ asset('ui2/img/icon1.png') }}" alt=""></div>

                    <div class="collection_links">
                        <ul>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ওযুর নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">গোসলের নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">হাত ধোয়ার হাদিস</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">নাপাকীর বিভিন্ন প্রকার</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ফরয গোসলের নিয়ম</a></li>

                        </ul>
                    </div>
                    <!--End of collection_links-->
                </div>
                <!--End of Collection-->
            </div>
            <!--End of md6-->


            <div class="col-md-4">
                <div class="collection">

                    <div class="img"><img class="coll1 pull-left" src="{{ asset('ui2/img/coll.png') }}" alt=""><h4>পবিত্রতা বিষয়ক
                            হাদিস</h4><img class="coll2 pull-right" src="{{ asset('ui2/img/icon1.png') }}" alt=""></div>

                    <div class="collection_links">
                        <ul>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ওযুর নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">গোসলের নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">হাত ধোয়ার হাদিস</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">নাপাকীর বিভিন্ন প্রকার</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ফরয গোসলের নিয়ম</a></li>

                        </ul>
                    </div>
                    <!--End of collection_links-->
                </div>
                <!--End of Collection-->
            </div>
            <!--End of md6-->


            <div class="col-md-4">
                <div class="collection">

                    <div class="img"><img class="coll1 pull-left" src="{{ asset('ui2/img/coll.png') }}" alt=""><h4>পবিত্রতা বিষয়ক
                            হাদিস</h4><img class="coll2 pull-right" src="{{ asset('ui2/img/icon1.png') }}" alt=""></div>

                    <div class="collection_links">
                        <ul>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ওযুর নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">গোসলের নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">হাত ধোয়ার হাদিস</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">নাপাকীর বিভিন্ন প্রকার</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ফরয গোসলের নিয়ম</a></li>

                        </ul>
                    </div>
                    <!--End of collection_links-->
                </div>
                <!--End of Collection-->
            </div>
            <!--End of md6-->


            <div class="col-md-4">
                <div class="collection">

                    <div class="img"><img class="coll1 pull-left" src="{{ asset('ui2/img/coll.png') }}" alt=""><h4>পবিত্রতা বিষয়ক
                            হাদিস</h4><img class="coll2 pull-right" src="{{ asset('ui2/img/icon1.png') }}" alt=""></div>

                    <div class="collection_links">
                        <ul>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ওযুর নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">গোসলের নিয়ম</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">হাত ধোয়ার হাদিস</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">নাপাকীর বিভিন্ন প্রকার</a></li>
                            <li><img src="{{ asset('ui2/img/tick.png') }}" alt=""><a href="">ফরয গোসলের নিয়ম</a></li>

                        </ul>
                    </div>
                    <!--End of collection_links-->
                </div>
                <!--End of Collection-->
            </div>
            <!--End of md6-->


        </div>
        <!--Row end-->
    </div>
    <!--container end-->
</div>
<!--collection_area End-->

{% endblock content %}