{% extends 'full_width.html.twig' %}
{% form_theme form '::partials/form.elements.html.twig' %}
{% import '@IhadisCore/macros.html.twig' as buttons %}

{% block title %}Add Section{% endblock %}

{% block body %}

    <div class="form form-horizontal">

        <div class="col-lg-8">

            {{ form_start(form, {'method': 'POST', 'attr': {'id': 'section' }}) }}
            {{ form_widget(form) }}
            {{ buttons.action() }}
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block documentReady %}

    {{ parent() }}

{% endblock %}

