{% extends('IhadisWebBundle::layout_sidebar.html.twig') %}

{% block title %} {{ parent() }} | {{ keyword }} {% endblock %}

{% block content %}
    <div class="list-header">
        <h3>সার্চ এর ফলাফল
            <span>({{ total|banglaNumber }}টি হাদীস)</span>
        </h3>
    </div>
    <div class="search-title">
        <h4>"{{ keyword }}" দিয়ে খুঁজছেন <span>({{ total|banglaNumber }}টি ফলাফল পাওয়া গেছে)</span> </h4>
    </div>

    {% for hadis in hadiths %}
        <h3 class="search_result">
            <a href="{{ url('book-details', {'slug': hadis.book.slug}) }}" class="text-muted" target="_blank">{{ hadis.book.title }}</a> <i class="fa fa-angle-right text-muted"></i>
            <a href="{{ url('chapter', {'slug': hadis.book.slug, 'chapter': hadis.chapter.number}) }}" class="text-muted" target="_blank">{{ hadis.chapter.title }}</a> <i class="fa fa-angle-right text-muted"></i>
            {{ hadis.numberPrimary|banglaNumber }}
        </h3>
        {% include '@IhadisWeb/Hadis/_hadis.html.twig' with { 'hadis': hadis } %}
    {% endfor %}

    {% include '@IhadisWeb/partials/_pagination.html.twig' with {'count' : total, 'current': page, 'per_page': per_page} %}

{% endblock %}

{% block documentReady %}
    <script type="text/javascript">
        window.searchKeyword = '{{ keyword }}';
    </script>

    {{ parent() }}
{% endblock documentReady %}