{% extends('IhadisWebBundle::layout_sidebar.html.twig') %}

{% block title %} {{ parent() }} | {{ keyword }} {% endblock %}

{% block content %}
    <div class="list-header">
        <h3>সার্চ এর ফলাফল
            <span>({{ total|banglaNumber }}টি হাদীস)</span>
        </h3>
    </div>
    <div class="search-title">
        <h4>"{{ keyword }}" দিয়ে খুঁজছেন <span>({{ total|banglaNumber }}টি ফলাফল পাওয়া গেছে)</span> </h4>
    </div>

    {% for hadis in hadiths %}
        <h3 class="search_result">
            {{ hadis.book.title }} » {{ hadis.numberPrimary|banglaNumber }}
            <span class="text-muted">({{ hadis.chapter.title }})</span>
        </h3>
        {% include '@IhadisWeb/Hadis/_hadis.html.twig' with { 'hadis': hadis } %}
    {% endfor %}

    {% include '@IhadisWeb/partials/_pagination.html.twig' with {'count' : total, 'current': page, 'per_page': per_page} %}

{% endblock %}

{% block documentReady %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            Ps.initialize(document.getElementById('ps-box'));

            $(".hadith-des:contains('{{ keyword }}')").each(function(){
                $(this).html(
                    $(this).html().replace('{{ keyword }}', "<span class='highlighted'>{{ keyword }}</span>")
                );
            });
        });
    </script>
{% endblock documentReady %}