{% extends('IhadisWebBundle::layout.html.twig') %}

{% block title %}{{ parent() }} | {{ book.title }} - {{ chapter.title }} অধ্যায়ঃ{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    "@IhadisWebBundle/Resources/public/css/chapter-style.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock stylesheets %}

{% block body %}
    <div class="container main-body">
        <div class="row main1">

            <div class="col-md-3 test">
                <div class="side-header" style="background-color: #fff;height: 59px;padding: 0px 0px;">
                    <div class="select-area pull-left">All books</div>
                    <div class="select-box2 pull-right">
                        <select name="category" id="category" class="book-category2">
                            <option value="all">সহিহ বুখারি</option>
                            <option value="all">সহিহ মুসলিম</option>
                            <option value="all">মিশকাত</option>
                            <option value="all">আবু দাউদ</option>
                            <option value="all">সহিহ বুখারি</option>
                            <option value="all">সহিহ মুসলিম</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3 fl test2">

                {% include '@IhadisWeb/partials/_sidebar_tabs.html.twig' %}

            </div><!--col 3-->

            <div class="col-md-9 col-xs-12 rl">

                <div class="list-header">
                    <h3>{{ book.title }}
                        <span>({{ book.numberOfHadis|banglaNumber }} টি হাদীস)</span>
                    </h3>
                </div>

                <table class="tg">
                    <tr>
                        <th class="tg-yw41">{{ chapter.number|banglaNumber }}</th>
                        <th class="tg-yw42"><a href="{{ url('chapter', {'slug': book.slug, 'chapter': chapter.number}) }}">{{ chapter.title }}</a></th>
                        <th class="tg-yw43">১০০৫ - ১০৩৯</th>
                    </tr>
                    {% if chapter.preface %}
                    <tr>
                        <td colspan="3" style="border: 0">
                            {{ chapter.preface }}
                        </td>
                    </tr>
                    {% endif %}
                </table>

                {% for section in chapter.sections %}
                <div id="chapter">
                    <h3>{{ section.number }}</h3>
                    <p>{{ section.title }}</p>
                    {% if section.preface %}
                    <hr>
                    <p class="preface">{{ section.preface|nl2br }}</p>
                    {% endif %}

                </div>
                <div class="hadiths-list">
                    {% for hadis in section.hadiths %}
                    <div class="hadith">
                        <div class="row">
                            <div class="had">
                                <h3>
                                    {{ hadis.numberPrimary }}
                                </h3>
                                <p class="narrated-by">{{ hadis.narrator }} থেকে বর্ণিতঃ</p>
                                <p class="hadith-des">{{ hadis.body|nl2br }}</p>
                            </div>
                            <div class="social-lists">
                                <ul>
                                    <li title="Edit"><i class="fa fa-pencil tool-icon"></i></li>
                                    <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                    <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                    <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                    <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                </ul>
                            </div>
                        </div>
                        {% if hadis.note %}
                        <div class="row hadis-extra note"><div class="col-xs-12">{{ hadis.note|nl2br }}</div></div>
                        {% endif %}
                        {% if hadis.explanation %}
                        <div class="row hadis-extra collapsed explanation"><div class="col-xs-12">{{ hadis.explanation|nl2br }}</div></div>
                        {% endif %}
                        <div class="row hadith-footer">
                            <div class="col-md-6 sonod">হাদিসের মানঃ <span class="label validity" style="color: {{ hadis.validity.color }}; background-color: {{ hadis.validity.background }}">{{ hadis.validity.title }}</span></div>
                            <div class="col-md-6">
                                <ul class="list-inline hadis-tools text-right">
                                {% if hadis.explanation %}
                                    <li class="explanation"><a href="#"><i class="fa fa-comment"></i> ব্যাখ্যা </a></li>
                                {% endif %}
                                    <li><a href="#"><i class="fa fa-external-link"></i> সরাসরি</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock body %}

{% block documentReady %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {
            Ps.initialize(document.getElementById('ps-box'));

            $('.hadis-tools li.explanation a').click(function(e) {
                e.preventDefault();
                $(this).closest('.hadith').find('.hadis-extra.explanation').slideToggle();
            });
        });
    </script>
{% endblock documentReady %}