{% extends('IhadisWebBundle::layout_sidebar.html.twig') %}

{% block title %}{{ parent() }} | {{ book.title }} - {{ chapter.title }} অধ্যায়ঃ{% endblock %}

{% block content %}
    <div class="list-header">
        <h3>{{ book.title }}
            <span>({{ book.numberOfHadis|banglaNumber }} টি হাদীস)</span>
        </h3>
    </div>

    <table class="tg">
        <tr>
            <th class="tg-yw41">{{ chapter.number|banglaNumber }}</th>
            <th class="tg-yw42"><a href="{{ url('chapter', {'slug': book.slug, 'chapter': chapter.number}) }}">{{ chapter.title }}</a></th>
            <th class="tg-yw43">১০০৫ - ১০৩৯</th>
        </tr>
        {% if chapter.preface %}
        <tr>
            <td colspan="3" style="border: 0">
                {{ chapter.preface }}
            </td>
        </tr>
        {% endif %}
    </table>

    {% for section in chapter.sections %}
    <div id="chapter">
        <h3>{{ section.number }}</h3>
        <p>{{ section.title }}</p>
        {% if section.preface %}
        <hr>
        <p class="preface">{{ section.preface|nl2br }}</p>
        {% endif %}

    </div>
    <div class="hadiths-list">
        {% for hadis in section.hadiths %}
            {% include '@IhadisWeb/Hadis/_hadis.html.twig' with { 'hadis': hadis } %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}

{% block documentReady %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {
            Ps.initialize(document.getElementById('ps-box'));

            $('.hadis-tools li.explanation a').click(function(e) {
                e.preventDefault();
                $(this).closest('.hadith').find('.hadis-extra.explanation').slideToggle();
            });
        });
    </script>
{% endblock documentReady %}