{% extends('IhadisWebBundle::layout_sidebar.html.twig') %}

{% block title %}{{ parent() }} | {{ book.title }} - {{ chapter.title }} অধ্যায়ঃ{% endblock %}

{% block content %}
    <div class="list-header hidden-print">
        <h3>{{ book.title }}
            <span>({{ book.numberOfHadis|banglaNumber }} টি হাদীস)</span>
        </h3>
    </div>

    <table class="tg hidden-print">
        <tr>
            <th class="tg-yw41">{{ chapter.number|banglaNumber }}</th>
            <th class="tg-yw42"><a href="{{ url('chapter', {'slug': book.slug, 'chapter': chapter.number}) }}">{{ chapter.title }}</a></th>
            <th class="tg-yw43 text-muted"><i>{{ chapter.range }}</i></th>
        </tr>
        {% if chapter.preface %}
        <tr>
            <td colspan="3" style="border: 0">
                {{ chapter.preface|nl2br }}
            </td>
        </tr>
        {% endif %}
    </table>
    {% set sectionsToShow = (sections is defined) ? sections : chapter.sections  %}
    {% for section in sectionsToShow %}
    <div class="chapter hidden-print">
        <h3>
            <a class="text-muted" href="{{ url('section', {'slug': book.slug, 'chapter': chapter.number, 'section' : section.id }) }}"
               title="সরাসরি  পরিচ্ছেদ  লিঙ্ক ">
                {{ section.number }}
            </a>
        </h3>
        <p> {{ section.title }} </p>

        {% if section.preface %}
        <hr>
        <p class="preface">{{ section.preface|nl2br }}</p>
        {% endif %}

    </div>
    <div class="hadiths-list">
        {% set hadisesToShow = (hadises is defined) ? hadises : section.hadiths  %}
        {% for hadis in hadisesToShow %}
            {% include '@IhadisWeb/Hadis/_hadis.html.twig' with { 'hadis': hadis } %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}