{% extends 'full_width.html.twig' %}
{% form_theme form '::partials/form.elements.html.twig' %}
{% import '@IhadisCore/macros.html.twig' as buttons %}

{% block title %}Add Chapter{% endblock %}

{% block body %}

    <div class="form">

        <div class="col-lg-6">

            {{ form_start(form, {'method': 'POST'}) }}

            <div class="form-body">
                {{ form_widget(form) }}
            </div>

            {{ buttons.action() }}
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block documentReady %}

    {{ parent() }}

{% endblock %}

