{% form_theme form '::partials/form.elements.html.twig' %}

{{ form_start(form, {'action': url('ihadis_validity_create'), 'method': 'POST'}) }}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i> <strong>Please note!</strong> <br/><br/>
            <ul>
                <li>If you save this form, page will be refreshed (all unsaved changes in other form may lost).</li>
                <li>If you leave colors empty, colors from parent will be used</li>
                <li>Use <a target="_blank" href="http://www.w3schools.com/html/html_colornames.asp">HTML color names</a> or hexadecimal values for colors</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">{{ form_row(form.title) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.color) }}</div>
    <div class="col-md-6">{{ form_row(form.background) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.superType) }}</div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" type="submit">Create</button>
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
    </div>
</div>

{#{{ form_widget(form) }}#}
{{ form_end(form) }}
