<div class="surah-holder-main">

    <a name="{{ hadith.numberPrimary }}"></a>

    <div class="surah-holder fl">

        <div class="surah-top">

            <div class="print-only">
                <div class="int-no fr">
                    <img src="/images/int_no.png"/><br/>
                    Intl No
                </div>

                <div class="surah-no2 fr">
                    {{ hadith.numberPrimary }}
                </div>
            </div>

            <div class="surah-number">
                {{ hadith.numberSecondary }}
            </div>

            <div class="clr"></div>

        </div>

        <div class="surah-bottom">

            <div id="language-toggle" class="utility-toolbar fl">
                <ul>
                    <li><a href="#{{ hadith.numberPrimary }}-en" data-id="en" class="{% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}active{% endif %}">En</a></li>
                    <li><a href="#{{ hadith.numberPrimary }}-bn" data-id="bn" class="{% if app.request.cookies.has('lang') == false or app.request.cookies.get('lang') == 'bn' %}active{% endif %}">Bn</a></li>
                </ul>
            </div>

            <div id="hadith-body-{{ hadith.numberPrimary }}-en" class="surah fr en" style="{% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}display: block;{% endif %}">
                <p>Narrated <span>{{ hadith.getNarratorEnglish }}:</span></p>
                <div>{{ hadith.getBodyEnglish }}</div>
            </div>

            <div id="hadith-body-{{ hadith.numberPrimary }}-bn" class="surah fr bn" style="{% if app.request.cookies.has('lang') == false or app.request.cookies.get('lang') == 'bn' %}display: block;{% endif %}">
                <p><span>{{ hadith.getNarrator }}</span> থেকে বর্ণিতঃ  </p>
                <div>{{ hadith.getBody }}</div>
            </div>

            <div class="clr"></div>

        </div>

    </div>

    <div class="surah-holder fr">

        <div class="surah-top2">

            <div class="fr" style="width: 34px">&nbsp;</div>

            <div class="int-no fr">
                <img src="/images/int_no.png"/><br/>
                Intl No
            </div>

            <div class="surah-no2 fr">
                {{ hadith.numberPrimary }}
            </div>

            <div class="clr"></div>

        </div>

        <div class="surah-bottom">

            <div class="surah fl" style="display: block">

                <p class="fr">
                    Narrated <span>{{ hadith.getNarratorEnglish }}:</span>
                </p>

                <div class="clr"></div>

                <div class="ar">{{ hadith.getBodyArabic }}‏</div>

            </div>

            <div id="hadith-tools" class="utility-toolbar fr">
                <ul>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="report" href="#{{ hadith.numberPrimary }}-report" class="report"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="print" href="#{{ hadith.numberPrimary }}-print" class="print printfriendly"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="tags" href="#{{ hadith.numberPrimary }}-tags" class="tags"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="facebook" href="#{{ hadith.numberPrimary }}-fb" class="fb"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="twitter" href="#{{ hadith.numberPrimary }}-tw" class="tw"></a></li>
                </ul>
            </div>

            <div class="clr"></div>

        </div>

    </div>

    <div class="clr"></div>

    <div class="surah-bottom-panel">

        <div class="authenticity fl">
            <p>Authenticity Status: <span class="{{ hadith.getAuthenticityLabel|lower }}">{{ hadith.getAuthenticityLabel }}</span></p>
            <p>Scholar Review: <img src="/images/green_tick.png"/></p>
        </div>

        <div class="references fr">
            <p><span>Reference :</span> {{ hadith.getReferencePartsEnglish(1) }}</p>
            <p><span>In-book Reference :</span> {{ hadith.getReferencePartsEnglish(2) }}</p>
        </div>

        <div class="clr"></div>

        <a id="permalink-{{ hadith.numberPrimary }}"
           class="share permalink"
           href="{{ url('ihadis_public_hadith', {'slug': book.slug, 'number': chapter.number, 'numberPrimary': hadith.numberPrimary}) }}"
           title="{{ book.titleEnglish }}, Chapter {{ chapter.titleEnglish }}, Hadith No. {{ hadith.numberPrimary }}">Permalink
        </a>

    </div>

    <div class="clr"></div>

</div>