<div id="hadith-{{ hadith.numberPrimary }}" class="surah-holder-main">

    <a name="{{ hadith.numberPrimary }}"></a>

    <div class="surah-holder fl">

        <div class="surah-top">

            <div class="print-only">
                <div class="int-no fr">
                    <img src="/images/int_no.png"/><br/>
                    Intl No
                </div>

                <div class="surah-no2 fr">
                    {{ hadith.numberPrimary }}
                </div>
            </div>

            <div class="surah-number">
                {{ hadith.numberSecondary }}
            </div>

            <div class="clr"></div>

        </div>

        <div class="surah-bottom">

            <div id="language-toggle" class="utility-toolbar fl">
                <ul>
                    <li><a href="#{{ hadith.numberPrimary }}-en" data-id="en" class="{% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}active{% endif %}">En</a></li>
                    <li><a href="#{{ hadith.numberPrimary }}-bn" data-id="bn" class="{% if app.request.cookies.has('lang') == false or app.request.cookies.get('lang') == 'bn' %}active{% endif %}">Bn</a></li>
                </ul>
            </div>

            <div id="hadith-body-{{ hadith.numberPrimary }}-en" class="surah fr en" style="{% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}display: block;{% endif %}">
                <p>Narrated <span>{{ hadith.getNarratorEnglish }}:</span></p>
                <div>{{ hadith.getBodyEnglish }}</div>
            </div>

            <div id="hadith-body-{{ hadith.numberPrimary }}-bn" class="surah fr bn" style="{% if app.request.cookies.has('lang') == false or app.request.cookies.get('lang') == 'bn' %}display: block;{% endif %}">
                <p><span>{{ hadith.getNarrator }}</span> থেকে বর্ণিতঃ  </p>
                <div>{{ hadith.getBody }}</div>
            </div>

            <div class="clr"></div>

        </div>

    </div>

    <div class="surah-holder fr">

        <div class="surah-top2">

            <div class="fr" style="width: 34px">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('ihadis_hadith_edit', {'id': hadith.id, 'section': hadith.section.id}) }}"><img src="/images/edit.png"></a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>

            <div class="int-no fr">
                <img src="/images/int_no.png"/><br/>
                Intl No
            </div>

            <div class="surah-no2 fr">
                {{ hadith.numberPrimary }}
            </div>

            <div class="clr"></div>

        </div>

        <div class="surah-bottom">

            <div class="surah fl" style="display: block">

                <p class="fr">
                    {% trans %}Narrated by{% endtrans %} <span>{{ hadith.getNarratorEnglish }}:</span>
                </p>

                <div class="clr"></div>

                <div class="ar">{{ hadith.getBodyArabic }}‏</div>

            </div>

            <div id="hadith-tools" class="utility-toolbar fr">
                <ul>
                    {#<li><a data-id="{{ hadith.numberPrimary }}" data-action="tags" href="#{{ hadith.numberPrimary }}-tags" class="tags"></a></li>#}
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="report" href="#{{ hadith.numberPrimary }}-report" class="report"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="print" href="#{{ hadith.numberPrimary }}-print" class="print"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="facebook" href="#{{ hadith.numberPrimary }}-fb" class="fb"></a></li>
                    <li><a data-id="{{ hadith.numberPrimary }}" data-action="twitter" href="#{{ hadith.numberPrimary }}-tw" class="tw"></a></li>
                </ul>
            </div>

            <div class="clr"></div>

        </div>

    </div>

    <div class="clr"></div>

    <div class="surah-footnote bn" style="{% if not hadith.note %}display: none;{% endif %}">
        {% if hadith.note %}
            {{ hadith.note|nl2br }}
        {% else %}
            <p>{% trans %}No footnote added so far for this Hadis{% endtrans %}</p>
        {% endif %}
    </div>

    <div class="clr"></div>

    <div class="surah-explanation bn" style="display: none;">
        {% if hadith.explanation %}
            {{ hadith.explanation|nl2br }}
        {% else %}
            <p>{% trans %}No explanation added so far for this Hadis{% endtrans %}</p>
        {% endif %}
    </div>

    <div class="clr"></div>

    <div class="surah-bottom-panel">

        <div class="authenticity fl">
            <p>{% trans %}Authenticity Status{% endtrans %}: <span class="{{ hadith.getAuthenticityLabel|lower }}">{{ hadith.getAuthenticityLabel }}</span></p>
            <p>{% trans %}Scholar Review{% endtrans %}: <img src="/images/green_tick.png"/></p>
        </div>

        <div class="references fr">
            <p><span>{% trans %}Reference{% endtrans %}: </span> {{ hadith.getReferencePartsEnglish(1) }}</p>
            <p><span>{% trans %}In-book Reference{% endtrans %}:</span> {{ hadith.getReferencePartsEnglish(2) }}</p>
        </div>

        <div class="bottom-links fl">
            <a data-id="{{ hadith.numberPrimary }}" data-action="footnote" href="#{{ hadith.numberPrimary }}-footnote" class="footnote">{% trans %}Footnote{% endtrans %}</a>
            <a data-id="{{ hadith.numberPrimary }}" data-action="explanation" href="#{{ hadith.numberPrimary }}-explanation" class="explanation">{% trans %}Explanation{% endtrans %}</a>
            <a id="permalink-{{ hadith.numberPrimary }}"
                class="share permalink"
                target="_blank"
                href="{{ url('ihadis_public_hadith', {'slug': book.slug, 'number': chapter.number, 'numberPrimary': hadith.numberPrimary}) }}"
                title="{{ book.titleEnglish }}, Chapter {{ chapter.titleEnglish }}, Hadith No. {{ hadith.numberPrimary }}">{% trans %}Permalink{% endtrans %}
            </a>
        </div>

        <div class="clr"></div>

    </div>

    <div class="clr"></div>

</div>