{% set lang = (app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en')? 'en' : 'bn' %}
<div class="second-nav-holder">

    <div class="fl title-holder" id="hadis-navbar">

        {% if isSearchResult is defined %}
            {% if lang == 'en' %}
                <h1 style="width: 500px">Searching with "<i>{{ keyword }}</i>" </h1>
                <span style="width: 188px; text-align: right">{{ count }} results found</span>
            {% else %}
                <h1 style="width: 500px">"<i>{{ keyword }}</i>"  দিয়ে খুঁজছেন </h1>
                <span style="width: 188px; text-align: right">{{ count }} টি ফলাফল পাওয়া গেছে</span>
            {% endif %}
        {% else %}
            {% if lang == 'en' %}

                <h1>{{ book.titleEnglish }} </h1>

                <img src="/img/book.png" class="icon">
                <select id="chapter-selection">
                    {% for ch in chapters %}
                        <option value="{{ ch.number }}" {% if ch == chapter %}selected="selected"{% endif %}>
                            {{ ch.titleEnglish|length > 12 ? ch.titleEnglish|slice(0, 12) ~ '...' : ch.titleEnglish }}
                        </option>
                    {% endfor %}
                </select>

                <img src="/img/chapter.png" class="icon">
                <select id="section-selection">
                    {% for sec in sections %}
                        <option value="{{ sec.id }}">
                            {{ sec.titleEnglish|length > 33 ? sec.titleEnglish|slice(0, 33) ~ '...' : sec.titleEnglish }}
                        </option>
                    {% endfor %}
                </select>

            {% else %}

                <h1 class="bn">{{ book.title }}  </h1>

                <img src="/img/book.png" class="icon">
                <select id="chapter-selection" class="bn">
                    {% for ch in chapters %}
                        <option value="{{ ch.number }}" {% if ch == chapter %}selected="selected"{% endif %}>
                            {{ ch.title|length > 18 ? ch.title|slice(0, 18) ~ '...' : ch.title }}
                        </option>
                    {% endfor %}
                </select>

                <img src="/img/chapter.png" class="icon">
                <select id="section-selection" class="bn">
                    {% for sec in sections %}
                        <option value="{{ sec.id }}">
                            {{ sec.title|length > 40 ? sec.title|slice(0, 40) ~ '...' : sec.title }}
                        </option>
                    {% endfor %}
                </select>

            {% endif %}

        {% endif %}

        <div id="nav-search">
            <input type="text" name="q" id="q" placeholder="Search" value="{{ keyword|default('') }}">
            <input type="image" src="/images/icon_search.png" style="vertical-align: middle; outline: none" id="title-search" />
        </div>
    </div>

    <div class="clr"></div>

</div>