<div class="section-panel">

    <div class="section" id="section-{{ section.id }}">

        {% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}
        <div class="section-left fl">
            <h2>{{ section.getNumberEnglish }}</h2>
            {{ section.getTitleEnglish }}
        </div>
        {% else %}
        <div class="section-left fl">
            <h2>{{ section.getNumber }}</h2>
            {{ section.getTitle }}
        </div>
        {% endif %}

        <div class="section-right fr ar">
            <h2>{{ section.getNumberArabic }}</h2>
            {{ section.getTitleArabic }}
        </div>

        <div class="clr"></div>

    </div>

    {% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}

        {% if section.getPrefaceEnglish|length > 1 or section.getPrefaceArabic|length > 1 %}
        <div class="section-translation bn">

            {% if section.getPrefaceArabic|length > 1 %}
            <p class="ar">{{ section.getPrefaceArabic }}</p>
            {% endif %}

            {% if section.getPrefaceEnglish|length > 1 %}
            <p>{{ section.getPrefaceEnglish|nl2br }}</p>
            {% endif %}

        </div>
        {% endif %}

    {% else %}

        {% if section.getPreface|length > 1 or section.getPrefaceArabic|length > 1 %}
        <div class="section-translation">

            {% if section.getPrefaceArabic|length > 1 %}
                <p class="ar">{{ section.getPrefaceArabic }}</p>
            {% endif %}

            {% if section.getPreface|length > 1 %}
            <p class="bn">{{ section.getPreface|nl2br }}</p>
            {% endif %}

        </div>
        {% endif %}

    {% endif %}

</div>
